
.hea-d{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
    justify-content: space-between;
}

.hym{
    font-family: sans-serif;
    font-size: 12px;
    opacity: 40%;

    .hym--mar{
        margin: 10px;
        text-decoration: none;
        color: black;
    }
}

.justi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mitienda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    .mitienda--mar{
        margin-top: 3px;
        margin-bottom: 0px;
        text-align: center;
    }
}

.search{
    width: 90px;
    margin-top: 15px;
    border-bottom: 2px black;
    
}

.user{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.usericon{
    width: 10px;
    margin-top: 18px;
    margin-left: 10px;
}

.shopicon{
    width: 10px;
    margin-top: 18px;
    margin-right: 20px;
    margin-left: 10px;
}